.m-t-10 {
  margin-top: 10%;
}
.m-t-8 {
  margin-top: 8%;
}
.m-t-40 {
  margin-top: 40%;
}
.cursor {
  cursor: pointer;
}
.max-width-35 {
  max-width: 35%;
}
.max-width-30 {
  max-width: 30%;
}
.max-width-45 {
  max-width: 45%;
}
.max-width-50 {
  max-width: 50%;
}
.display-none {
  display: none;
}
.max-width-80 {
  max-width: 80%;
}
.min-width-100 {
  min-width: 100%;
}
.min-width-60 {
  min-width: 60%;
}
.min-width-35 {
  min-width: 35%;
}
.min-width-50 {
  min-width: 50%;
}
.has-font-gabriola {
  font-family: "gabriola";
  font-size: 4rem;
}
.is-4rem {
  font-size: 4rem;
}
.overflow {
  overflow: auto;
}
