@import "./theme.scss";
@import "./helpers.scss";
@import "../../node_modules/vue-multiselect/dist/vue-multiselect.css";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/leaflet/dist/leaflet.css";
#app {
  //   background-image: url("../assets/back.jpeg");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-attachment: fixed;
  background: rgb(255, 255, 255) 100%;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
}
nav {
  padding: 10px;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: $primary;
    }
  }
}
.box-shadow {
  box-shadow: 2px 2px 16px 0 $primary;
}
.gradientBackGround {
  background: rgb(80 200 239 / 50%);
}
.button.is-rounded.upBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 30;
  display: block;
}
.isValidField {
  border: 2px groove #68e6f6ab;
}
.maps {
  z-index: 3;
  border: 2px groove black;
}
// -------------------------transitions-----------------------------------
.v-enter-active {
  transition: opacity 0.8s ease;
}
.v-leave-active {
  transition: opacity 0.2s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
// -------------------------transitions-----------------------------------
.multiselect__option--highlight {
  background-color: $primary;
  &::after {
    background-color: $primary;
  }
}
.multiselect__tag {
  background: $primary;
}
.multiselect__option--selected {
  background: $selected;
}
//---------------------media query---------------------------------
///navbar
@media screen and (max-width: 480px) {
}
//----------------- Home View Css -----------------------------------

.down-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-text {
  display: flex;
  justify-content: space-between;
  width: 45%;
  flex-direction: column;
}
.home-body {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding: 3rem 1.5rem;
  flex-grow: 1;
  flex-shrink: 0;
}
// *************************responsive**********************
@media screen and (max-width: 1024px) {
  .down-arrow {
    margin: 0 auto;
  }
  .container-text {
    width: 70%;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 480px) {
  .container-text {
    width: 100%;
  }
  .home-body {
    padding: 3rem 0.4rem;
  }
  .has-font-gabriola {
    font-size: 2.5rem;
  }
  .is-title {
    font-size: 1.5rem;
  }
}
// *************************End responsive**********************
//----------------- END Home View Css -----------------------------------
//----------------- Labo && formation View Css -----------------------------------
.labo-body {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding: 3rem 1.5rem;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-around;
}
.container-head {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
// *************************responsive**********************
@media screen and (max-width: 1024px) {
  .labo-body {
    flex-wrap: wrap;
  }
}
