//$primary: rgba(255, 255, 255, 0.651);
$navbar-background-color: white;
$navbar-height: 3.25rem;
$navbar-fixed-z: 900;
$modal-content-width: 50vw;
$primary: rgba(107, 166, 241, 1);
@import "../../node_modules/bulma/sass/utilities/_all.sass";
