//$primary: rgba(255, 255, 255, 0.651);
$navbar-background-color: white;
$navbar-height: 3.25rem;
$navbar-fixed-z: 900;
$modal-content-width: 50vw;
$primary: rgba(107, 166, 241, 1);
$footer-padding: 1rem 1.5rem 1rem;
$footer-background-color: rgb(199 211 255 / 25%);
@import "../../node_modules/bulma/sass/utilities/_all.sass";
